<div class="container mt-4">
    <div class="horzontal-scrollgallery">
        <div class="card-group">
            <div class="card pr-3">
                <img class="card-img-top" src="../../../assets/matteradvantages/interoperable.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Interoperable</h4>
                    <p class="card-text">The specification permits communication between any Matter-certified device, subject to users’ permission.</p>
                </div>
            </div>
            <div class="card pr-3">
                <img class="card-img-top" src="../../../assets/matteradvantages/open.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Open</h4>
                    <p class="card-text">Matter is built on proven technologies and open-source implementations, allowing for a wide range of options for development.</p>
                </div>
            </div>
            <div class="card pr-3">
                <img class="card-img-top" src="../../../assets/matteradvantages/secure-png.png" height="50px" alt="Card image">
                <div class="card-body text-center">
                  <h4 class="card-title">Secure</h4>
                  <p class="card-text">Matter is designed with best-in-class security technologies, the specification leverages modern security practices and protocols.</p>
                </div>
            </div>

        </div>
    </div>
</div>