<footer id="footer" class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/NXP/matter" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <section class="mb-4">
      <p>
        Matter Application UI Material is a free and open-source controller that can be used to interact with Matter applications.
      </p>
    </section>
   
  </div>
  <mat-chip class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); margin: 5px;">
    © 2024 Matter Application UI Material
    <a class="text-white;" style="
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    " href="https://en.wikipedia.org/wiki/Matter_(standard)">Wiki Page</a>
  </mat-chip>

</footer>
