<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="not-yet-implemented-maindiv"
    style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; padding: 20px;
    border-radius: 20px; width: 100%; height: 100%; align-items: center; justify-content: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    "
  >
  <p style="font-family:'Times New Roman', Times, serif; font-size: large; align-items: center; text-align: center; padding:20px">Write ACL</p>

    <div class="container-for-media" style="align-items:center; justify-content: center;">
      <!-- Create a form for the input fields and buttons related to the application -->
      <div class="grid-container">
      <mat-form-field class="formfield grid-item item1" appearance="fill" style="width:100%; vertical-align: middle; border-radius: 10px; border-color: #000000;">
        <mat-label style="color: #000000">Light Node Alias</mat-label>
        <input class="grid-item item1" matInput>
      </mat-form-field>
      <mat-form-field class="formfield item2 grid-item" appearance="fill" style="width:100%; vertical-align: middle; border-radius: 10px; border-color: #000000;">
        <mat-label style="color: #000000">Light Node ID</mat-label>
        <input class="grid-item item1" matInput>
      </mat-form-field>
      <mat-form-field class="formfield item3 grid-item" appearance="fill" style="width:100%; vertical-align: middle; border-radius: 10px; border-color: #000000;">
        <mat-label style="color: #000000">Switch Node Alias</mat-label>
        <input class="grid-item item1" matInput>
      </mat-form-field>
      <mat-form-field class="formfield item4 grid-item" appearance="fill" style="width:100%; vertical-align: middle; border-radius: 10px; border-color: #000000;">
        <mat-label style="color: #000000">Switch Node ID</mat-label>
        <input class="grid-item item1" matInput>
      </mat-form-field>
      <mat-form-field class="formfield item5 grid-item" appearance="fill" style="width:100%; vertical-align: middle; border-radius: 10px; border-color: #000000;">
        <mat-label style="color: #000000">ACL Endpoint ID</mat-label>
        <input class="grid-item item1" matInput>
      </mat-form-field>
      </div>
    </div>

    <div class="button-container container-fluid" style="align-items: center; justify-content: center;">
      <mat-chip mat-button class="material-chip" style="align-items: center; justify-content: center;">
        <mat-icon (click)="{}">build</mat-icon>
        <span class="aligned-with-icon">Write ACL</span>
      </mat-chip>
    </div>

    <p style="font-family:'Times New Roman', Times, serif; font-size: large; align-items: center; text-align: center; padding:20px">Write Binding</p>

    <div class="container-for-media" style="align-items:center; justify-content: center;">
      <!-- Create a form for the input fields and buttons related to the application -->
      <div class="grid-container">
      <mat-form-field class="formfield grid-item item1" appearance="fill" style="width:100%; vertical-align: middle; border-radius: 10px; border-color: #000000;">
        <mat-label style="color: #000000">Light Endpoint ID</mat-label>
        <input class="grid-item item1" matInput>
      </mat-form-field>
      <mat-form-field class="formfield item2 grid-item" appearance="fill" style="width:100%; vertical-align: middle; border-radius: 10px; border-color: #000000;">
        <mat-label style="color: #000000">Switch Endpoint ID</mat-label>
        <input class="grid-item item1" matInput>
      </mat-form-field>
      </div>
    </div>

    <div class="button-container container-fluid" style="align-items: center; justify-content: center;">
      <mat-chip mat-button class="material-chip" style="align-items: center; justify-content: center;">
        <mat-icon (click)="{}">build</mat-icon>
        <span class="aligned-with-icon">Write Binding</span>
      </mat-chip>
    </div>

    <!-- <app-floatingactionarea (buttonPressedEvent)="onButtonPressedEventCatch($any($event))"></app-floatingactionarea> -->
  </div>
</div>
